.wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.mainColumn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.space {
  display: block;
  width: auto;
  min-width: 1px;
  height: auto;
  min-height: 1px;
  font-size: 34px;
}
