.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  gap: 32px;
}

.leftColumn {
  flex-basis: 248px;
}

.mainColumn {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.header .selectWrapper {
  display: flex;
  align-items: center;
}

.spacer {
  display: block;
}

.spacer-horizontal {
  width: var(--spacer-width, 1px);
  min-width: var(--spacer-width, 1px);
  height: 1px;
  min-height: 1px;
}

.spacer-vertical {
  width: 1px;
  min-width: 1px;
  height: var(--spacer-height, 1px);
  min-height: var(--spacer-height, 1px);
}
