.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  gap: 32px;
}

.leftColumn {
  flex-basis: 248px;
}

.mainColumn {
  flex: 1;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 68rem) {
  .wrapper {
    gap: 16px;
  }

  .leftColumn {
    flex-basis: 150px;
  }

  .header h2 {
    font-size: 1rem;
  }
}

/* Media query para iPad */
@media (min-width: 768px) and (max-width: 1055px) {
  .wrapper {
    gap: 40px;
  }

  .leftColumn {
    flex-basis: 200px;
  }

  .header h2 {
    font-size: 1.25rem;
  }
}

/* Media query para móviles */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .leftColumn {
    display: none;
  }

  .header {
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .mainColumn {
    width: 100%;
  }
}
