.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media (max-width: 68rem) {
  .wrapper {
    grid-template-columns: 1fr;
    max-width: 68rem;
    margin: 0 auto;
  }
}
