.enlace {
  text-decoration: none;
  color: inherit;
}

/* .space {
  display: block;
  width: auto;
  min-width: 1px;
  height: auto;
  min-height: 1px;
  font-size: 34px;
} */

.row {
  font-size: 1rem;
}

.name {
  font-weight: 600;
  color: hsl(220deg, 3%, 20%);
}

.colorInfo {
  color: hsl(220deg, 5%, 40%);
}

.price {
  font-weight: 600;
  color: hsl(340deg, 65%, 47%);
}
