.enlace {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imageWrapper {
  display: flex;
  position: relative;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 4px 4px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: column;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(220deg, 3%, 20%);
}

.colorInfo {
  color: hsl(220deg, 5%, 40%);
  margin-top: -1.3rem;
}

.price {
  font-weight: 600;
  color: hsl(340deg, 65%, 47%);
}

.saleFlag {
  position: absolute;
  top: 12px;
  right: 4px;
  background: hsl(340deg, 65%, 47%);
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  font-weight: 800;
  color: hsl(0deg, 0%, 100%);
  border-radius: 2px;
}

.newFlag {
  position: absolute;
  top: 12px;
  right: 4px;
  background: hsl(240deg, 60%, 63%);
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  font-weight: 800;
  color: hsl(0deg, 0%, 100%);
  border-radius: 2px;
}
