.marketingMessage {
  color: hsl(190deg, 5%, 80%);
  margin-right: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: hsl(190deg, 5%, 80%);
  background-color: hsl(220deg, 3%, 20%);
  width: 100%;
  height: 40px;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.helpLink {
  color: inherit;
  text-decoration: none;
  outline-offset: 2px;

  &:not(:focus-visible) {
    outline: none;
  }
}

@media (max-width: 68rem) {
  .marketingMessage {
    font-size: 0.8rem;
  }

  .wrapper {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    height: auto;
  }
}
