.marketingMessage {
  color: hsl(190deg, 5%, 80%);
}

.wrapper {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: hsl(190deg, 5%, 80%);
  background-color: hsl(220deg, 3%, 20%);
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.helpLink {
  color: inherit;
  text-decoration: none;
  outline-offset: 2px;
  padding: 1rem;
  margin-left: auto;

  &:not(:focus-visible) {
    outline: none;
  }
}
