.marketingMessage {
  color: hsl(190deg, 5%, 80%);
}

.wrapper {
  font-size: 0.875rem;
  color: hsl(190deg, 5%, 80%);
  background-color: hsl(220deg, 3%, 20%);
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
