@keyframes abrirMenu {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes cerrarMenu {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  border-bottom: 1px solid hsl(190deg, 5%, 80%);
  padding-bottom: 1rem;
}

.enlaces {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 auto;
}

.enlaces a {
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(220deg, 3%, 20%);

  &:first-of-type {
    color: hsl(240deg, 60%, 63%);
  }
}

.hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburguesa div {
  width: 25px;
  height: 3px;
  background-color: hsl(220deg, 3%, 20%);
  margin: 4px 0;
}

.menuDesplegable {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: hsl(220deg, 3%, 20%);
  padding: 1rem;
  z-index: 100;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transform-origin: top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.menuDesplegable a {
  color: white;
  text-decoration: none;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-bottom: 1px solid hsl(220deg, 3%, 40%);
}

.menuDesplegable.abierto {
  display: flex;
  animation-name: abrirMenu;
}

.menuDesplegable.cerrado {
  display: flex;
  animation-name: cerrarMenu;
}

.menuDesplegable a {
  padding: 1rem 0;
}
@media (max-width: 68rem) {
  .mainHeader {
    position: relative;
  }
  .enlaces {
    display: none;
  }

  .hamburguesa {
    display: flex;
  }
}
